<section id="experience" class="experience">
          <div class="section-heading text-center">
                    <h2>experience</h2>
          </div>
          <div class="container">
                    <div class="experience-content">
                                        <div class="main-timeline">
                                                  <ul>
                                                            <li>
                                                                      <div class="single-timeline-box fix">
                                                                                <div class="row">
                                                                                          <div class="col-md-5">
                                                                                                    <div class="experience-time text-right">
                                                                                                              <h2>October 2024 - Present</h2>
                                                                                                              <h3>Programmer</h3>
                                                                                                    </div><!--/.experience-time-->
                                                                                          </div><!--/.col-->
                                                                                          <div class="col-md-offset-1 col-md-5">
                                                                                                    <div class="timeline">
                                                                                                              <div class="timeline-content">
                                                                                                                        <h4 class="title">
                                                                                                                                  <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                                                                                                  Sparrow Softech Pvt LTD
                                                                                                                        </h4>
                                                                                                                        <h5>Ranchi, Jharkhand</h5>
                                                                                                                        <p class="description">
                                                                                                                                  Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident. 
                                                                                                                        </p>
                                                                                                              </div><!--/.timeline-content-->
                                                                                                    </div><!--/.timeline-->
                                                                                          </div><!--/.col-->
                                                                                </div>
                                                                      </div><!--/.single-timeline-box-->
                                                            </li>

                                                            <li>
                                                                      <div class="single-timeline-box fix">
                                                                                <div class="row">
                                                                                          <div class="col-md-offset-1 col-md-5 experience-time-responsive">
                                                                                                    <div class="experience-time">
                                                                                                              <h2>
                                                                                                                        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                                                                                        September 2024 - October 2024
                                                                                                              </h2>
                                                                                                              <h3>Software Engineer</h3>
                                                                                                    </div><!--/.experience-time-->
                                                                                          </div><!--/.col-->
                                                                                          <div class="col-md-5">
                                                                                                    <div class="timeline">
                                                                                                              <div class="timeline-content text-right">
                                                                                                                        <h4 class="title">
                                                                                                                                  ThinkHumble Creative Solutions
                                                                                                                        </h4>
                                                                                                                        <h5>Pune, Maharasta</h5>
                                                                                                                        <p class="description">
                                                                                                                                  Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident. 
                                                                                                                        </p>
                                                                                                              </div><!--/.timeline-content-->
                                                                                                    </div><!--/.timeline-->
                                                                                          </div><!--/.col-->
                                                                                          <div class="col-md-offset-1 col-md-5 experience-time-main">
                                                                                                    <div class="experience-time">
                                                                                                              <h2>
                                                                                                                        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                                                                                       September 2024 - October 2024
                                                                                                              </h2>
                                                                                                              <h3>Software Engineer</h3>
                                                                                                    </div><!--/.experience-time-->
                                                                                          </div><!--/.col-->
                                                                                </div>
                                                                      </div><!--/.single-timeline-box-->
                                                            </li>

                                                           

                                                            <li>
                                                                      <div class="single-timeline-box fix">
                                                                                <div class="row">
                                                                                         <!--/.col-->
                                                                                          <div class="col-md-5">
                                                                                                    <div class="timeline">
                                                                                                              <div class="timeline-content text-right">
                                                                                                                        <h4 class="title">
                                                                                                                                  CSM TECHNOLOGIES PVT LTD
                                                                                                                        </h4>
                                                                                                                        <h5>Bhubneswar, Odisha</h5>
                                                                                                                        <p class="description">
                                                                                                                                  Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident. 
                                                                                                                        </p>
                                                                                                              </div><!--/.timeline-content-->
                                                                                                    </div><!--/.timeline-->
                                                                                          </div><!--/.col-->
                                                                                          <div class="col-md-offset-1 col-md-5 experience-time-main">
                                                                                                    <div class="experience-time">
                                                                                                              <h2>
                                                                                                                        <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                                                                                        August 2023 - August 2024
                                                                                                              </h2>
                                                                                                              <h3>Software Engineer</h3>
                                                                                                    </div><!--/.experience-time-->
                                                                                          </div><!--/.col-->
                                                                                </div>
                                                                      </div><!--/.single-timeline-box-->
                                                            </li>

                                                            <li>
                                                                      <div class="single-timeline-box fix">
                                                                                <div class="row">
                                                                                          <div class="col-md-5">
                                                                                                    <div class="experience-time text-right">
                                                                                                              <h2>August 2022 - August 2023</h2>
                                                                                                              <h3>Junior Software Engineer</h3>
                                                                                                    </div><!--/.experience-time-->
                                                                                          </div><!--/.col-->
                                                                                          <div class="col-md-offset-1 col-md-5">
                                                                                                    <div class="timeline">
                                                                                                              <div class="timeline-content">
                                                                                                                        <h4 class="title">
                                                                                                                                  <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                                                                                                                                 CSM TECHNOLOGIES PVT LTD
                                                                                                                        </h4>
                                                                                                                        <h5>Bhubneswar, Odisha</h5>
                                                                                                                        <p class="description">
                                                                                                                                  Duis aute irure dolor in reprehenderit in vol patate velit esse cillum dolore eu fugiat nulla pari. Excepteur sint occana inna tecat cupidatat non proident. 
                                                                                                                        </p>
                                                                                                              </div><!--/.timeline-content-->
                                                                                                    </div><!--/.timeline-->
                                                                                          </div><!--/.col-->
                                                                                </div>
                                                                      </div><!--/.single-timeline-box-->
                                                            </li>

                                                  </ul>
                                        </div><!--.main-timeline-->
                              </div><!--.experience-content-->
          </div>

</section>