<section id="welcome-hero" class="welcome-hero">
          <div class="container">
                    <div class="row">
                              <div class="col-md-12 text-center">
                                        <div class="header-text">
                                                  <h2>HI <span>,</span> I AM <br> HARSHIKESH<br> SINGH <span>.</span>   </h2>
                                                  <p>SOFTWARE ENGINEER and JAVA FULL STACK DEVELOPER</p>
                                                  <a href="/AngularPortfolioWebsite/src/assets/download/Harsh Resume document.pdf" download>download resume</a>
                                        </div><!--/.header-text-->
                              </div><!--/.col-->
                    </div><!-- /.row-->
          </div><!-- /.container-->

</section>
